
body {
    min-height: 100%;
    width: 1920px;
    margin: auto;
    font-family: 'Roboto Mono', monospace;
    background-color: rgba(77, 76, 76, 0.397);
    
}

header{
    z-index: 5;
    display: grid;
    grid-template-columns: 26% 60%;
    margin-top: -10px;
    background-color: rgba(0, 238, 255, 0.452);
    text-align: center;
    width: 100%;
    height: 100px;
}

h1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
}
h2{
    margin: 0;
}


.main{
    margin:0;
    width: 120%;
    padding: 0;
    list-style: none;   
    text-decoration: none;
    overflow: hidden;
    font-size: 25px;
}
li {
    text-transform: uppercase;
    display: inline;
    float: left;
    list-style: none;   
    text-decoration: none;
}
.subMenu{
    height: 110px;
}
.subMenu-contenu{ 
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.596);
    display: none;
    z-index: 1;
}
.main > li > a:hover{
    background-color: rgb(4, 163, 255);
}
.subMenu-contenu > a:hover{
    background-color: white;
}
.subMenu:hover .subMenu-contenu{
    display: block;
}
.subMenu-contenu:hover {
    display: block;
}
.subMenu-contenu {
    top: 90px;
    width: 230px;
    position: absolute;
    background-color: rgb(96, 208, 216);
}
.apropos {
    position: relative;
    left: 23em;
}
a{
    color: #000;
    text-decoration: none;
}
li{
    margin-top: 5px;
}
li a {
    display: block;
    padding: 30px 55px;
    text-align: center;
}

div4{
    border: 1px solid red;
}

.hamburger {
    display: none;
}
.menuMobile{
    display: none;
}

#rectangleBlanc {
    background-color: rgba(255, 255, 255, 0.651);
    width: 1200px;
    height: 1500px;
    margin: auto;
    margin-top: 1%;
    border-style:outset;
    border-radius: 10px;
}
#rectangleBlancPetit {
    background-color: rgba(255, 255, 255, 0.651);
    width: 1200px;
    height: 1000px;
    margin: auto;
    margin-top: 1%;
    border-style:outset;
    border-radius: 10px;
}

#contenuIndex {
    margin-top: 3%;
    text-align:justify;
}
.paragraphe{
    display: grid;
    grid-template-rows: 5% 8% 45% 23% 7% 17%;
    margin: auto;
    width: 80%;
    height: 1250px;
    font-size: large;
    text-align: center;
    text-align:left;
}
.paragraphePetit{
    height: 950px;
}
.sonPigeon{
    position: relative;
    text-align: center;
    top: 30%;
    right: 5%;
    float: right;
}
.pigeon {
    display: block;
    height: 90%;
    width: 60%;
    margin-bottom: 0%;
    margin-left: 0;
    border: 1px solid grey;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.596);
}
.guerrier {
    position: relative;
    top: 20%;
    border: 1px solid grey;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.596);
}
.biset{
    position: relative;
    width: auto;
    top: 20%;
    left: 5%;
    height: 100%;
}
.ramier {
    margin-top: 3%;
}
.messager {
    position: relative;
    width: auto;
    top: 55%;
    left: 5%;
    
}
#titreVideoRamier{
    text-align: center;
}
iframe{
    margin: auto;
    width:560px; 
    height:315px;
}
#videoMessager {
    width: 490px;
    position: relative;
    left: 45%;
    bottom: 25%;
}

.lien_text{
    text-decoration: underline;
    color: blue;
}

@media screen and (max-width: 425px) {
 body{
        height: 100%;
        width: 100%;
    }
    header{
        margin-top: -3.9%;
        z-index: 100;
        display: block;
        height: 15%;
        width: 100%;

    }
    h1{
        width: 56%;
        position: relative;
        top: 55%;
        left: 6%;
        font-size: 120%;
        
    }
    .main {
        display: none;
    }
    li .subMenu{
        display: block;
    }
    .menuMobile{
        display: block;
    }
    .menuMobile {
        text-align: right;
        height: 70px;
        line-height: 70px;
    }
    .menu {
        display: none;
        position:absolute;
        margin: 10% 30px 0 0; /* 9 */
        text-align: center; 
        width: 100%;
        background-color: rgb(96, 208, 216);

        
    }
    .menu a {
        display: block;
        border-top: 1px solid rgb(0, 0, 0);
        line-height: 70px;
        margin: 0;
    }
    a:active {
        background-color: black;
    }
    #toggle {
        display: none;
        
    }
    #toggle:checked + .menu {
        display: block;

    }
    label {
        cursor: pointer;
        display: block;
        margin: 0 40px 0 0; 
        font-size: 26px;
        line-height: 70px;
    }

    .hamburger{
        display: block;
        position: absolute;
        top: 4.5%;
        left: 75%;
        width: 26px;
    }
    .layer {
        width: 26px;
        height: 3px;
        background-color: black;
        margin: 6px 0px;        
    }
    
    
    #rectangleBlanc {
        z-index: -2;
        background-color: rgba(255, 255, 255, 0.651);
        width: 80%;
        height: 100%;
        margin: auto;
        margin-top: 10px;
        border-style:outset;
        border-radius: 10px;
    }
    #rectangleBlancPetit {
        background-color: rgba(255, 255, 255, 0.651);
        width: 80%;
        height: 100%;
        margin: auto;
        margin-top: 1%;
        border-style:outset;
        border-radius: 10px;
    }
    #contenuIndex {
        margin: auto;
        padding: 0;
        margin-top: 10%;
        text-align:justify;
        display: block;
        width: 80%;
    }
    .paragraphe{
        display: block;
        margin: auto;
        width: 100%;
        height: 100%;
        font-size: small;
        text-align: center;
        text-align:left;
    }
    .paragraphePetit{
        height: 100%;
    }

    .pigeon {
        width: 100%; 
    }
    audio{
        margin: 0;
        width: 100%;
    }
    iframe{
        width: 100%;
    }
    img{
        display: block;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        border: 1px solid grey;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.596);
    }
   
    
    
}